main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator-container{
    border: 1px solid;
    display: flex;
    flex-flow: column wrap;
    width: 400px;
    margin-top: 100px;
}
.buttons button{
    width: 80px;
    height: 80px;
}
#delete{
    width:45%;
    grid-area: header;
    grid-column-start: 1;
    grid-row-start: 1;
}
#clear{
    width:90%;
    grid-area: header;
    grid-column-start: 3;
}

.buttons{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: 
    "header header header header";

}
.display{
    width: 100%;
    height: 80px;
    background-color: lightblue;
}