*{
    font-family: Helvetica;
    font-size: 1rem;
    font-weight: 600;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator-container{
    border: 1px solid;
    display: flex;
    flex-flow: column wrap;
    width: 400px;
    margin-top: 100px;
    border-radius: 5%;
}
.buttons button{
    width: 80px;
    height: 80px;
}
#delete{
    width:95%;
    grid-area: a;

}
#clear{
    width:95%;
    grid-area: b;
}

.buttons{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: 
    "a a b b";
    gap: 10px;
    justify-items: center;
    margin-bottom: 12px;
}
.display{
    height: 80px;
    background-color: lightblue;
    border-radius: 10%;
    margin: 12px;
}