*{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.15rem;
    font-weight: 600;
    font-feature-settings: normal;
    font-variation-settings: normal;
}
body{
    height: 100vh;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator-container{
    background-color: gray;
    border: 3px solid;
    display: flex;
    flex-flow: column wrap;
    width: 400px;
    margin-top: 100px;
    padding: 12px;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.buttons button{
    width: 95%;
    height: 80px;
    border: 2px solid;
    border-radius: 10%;
    background-color:rgb(250, 238, 240);
}
#dlte{
    width:95%;
    grid-area: a;
    background-color: rgb(136, 136, 255);
}
#clear{
    width:95%;
    grid-area: b;
    background-color: rgb(255, 114, 114);
}
#zero{
    width:95%;
    grid-area: e;
}
.buttons{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: 
    "a b c d" 
    "x x x x" 
    "x x x x" 
    "x x x x" 
    "e e f g";
    justify-items: center;
    margin-bottom: 12px;
    gap:5px;
}
#decimal{
    grid-area: f;
}
.buttons .arithmetic,
#enter{
    background-color: rgb(255, 201, 101);
}
#enter{
    grid-area: g;
}
#percentage{
    background-color: rgb(180, 180, 180);
}
.buttons button:hover{
    transform:scale(1.05);
}
.display{
    height: 80px;
    background-color: lightblue;
    border-radius: 10%;
    margin: 12px;
    border: 1px solid;
    text-align: right;
    padding: 0.5em;
    font-size: 2rem;
}
body .footer{
    display:flex;
    text-align:center;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top:auto;
    bottom: 0;
    width: 100%;
    padding: 18px;
}
.footer a{
    color:black;
}
.footer i:hover{
    transition: transform .7s ease-in-out;
    transform: rotate(360deg) scale(1.1);
}